html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family:'Montserrat', sans-serif ;
    background-color:#FAFAFA ;
    text-align: center;
    padding: 60px 20px;
}


p {
   color: #8B8B8B; 
}

p, 
h2 {
    font-size: 16px;
}

h1{
    font-size: 28px;
}

/* --- icons --- */
div p{
    font-size: 13px;
}

/* --- underline --- */
hr {
    background-color: #407BFF;
    width: 60px;
    height: 3px;
    margin: 10px auto 30px auto;
}

/* ---Buttons --- */
.buttons {
    margin-top: 30px;
    margin-bottom: 60px;
}

.button {
    font-size: 14px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    display: block;
    height: 40px;
    margin: auto;
}

.blue {
    background-color: #407BFF;
    margin-bottom: 10px;
    max-width: 200px;
}

.grey {
    background-color: #8B8B8B;
    max-width: 225px;
    margin-bottom: 60px;
}
 

